[submodule "airo-mono"]
	path = airo-mono
	url = https://github.com/airo-ugent/airo-mono
[submodule "keypoint-detection"]
	path = keypoint-detection
	url = git@github.com:tlpss/keypoint-detection.git
